<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jyoung.honeystraw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_honeystraw"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.mypage.MyPageActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.tabs.TabActivity" />
        <activity android:name=".ui.tabs.brand.BrandDetailActivity" />
        <activity
            android:name=".ui.tip.DetailTipActivity"
            android:theme="@style/SplashTheme">
            >
        </activity>
        <activity
            android:name=".ui.register.RegisterTipEditActivity"
            android:theme="@style/SplashTheme">
            >
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.register.RegisterBackEditActivity" />
        <activity android:name=".ui.tip.DetailTipCommentActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.login.KakaoSignupActivity" />
        <activity android:name=".ui.tip.DetailTipVerticalActivity"
            android:theme="@style/SplashTheme"/>

        <service android:name=".base.util.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".base.util.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".ui.signup.SignUpActivity" />
        <activity android:name=".ui.mypage.MyPageEditActivity"></activity>
    </application>

</manifest>